@charset "UTF-8";

/* CSS Document */

.panes-redesociales {
	padding:0;
	border:1px solid #999;
	border-top:0;
	font-size:14px;
	background-color:#fff;
}
/* root element for tabs-redesociales  */
#telesur-container .tabs-redesociales {
    width:auto;
}
#telesur-container .tabs-redesociales {
	list-style:none;
	margin:0 !important;
	padding:0;
	border-bottom:1px solid #666;
	height:32px;
	float:none;
}

/* single tab */
.tabs-redesociales li {
	float:left;
	text-indent:0;
	padding:0 0 0 3px;
	margin:0 !important;
	list-style-image:none !important;
}

/* link inside the tab. uses a background image */
#telesur-container .tabs-redesociales li a {
	background:url(../../img/pestana-ultimos.png) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	display:block;
	height: 32px;
	line-height:32px;
	width: 87px;
	text-align:center;
	text-decoration:none;
	color:#333;
	padding:0;
	margin:0;
	position:relative;
	top:0px;
}

#telesur-container .tabs-redesociales a:active {
	outline:none;
}

/* when mouse enters the tab move the background image */
#telesur-container .tabs-redesociales a:hover {
	color:#000;
	background:url(../../img/pestana-ultimos-hover.png) no-repeat;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
#telesur-container .tabs-redesociales a.current, 
#telesur-container .tabs-redesociales a.current:hover, 
#telesur-container .tabs-redesociales li.current a {
	cursor:default !important;
	color:#000 !important;
	background-color:#fff;
	height:33px;
	background:url(../../img/pestana-ultimos-hover.png) no-repeat;
}


/*facebook style*/
#telesur-container .facebook a {
    font-weight:bold;
    color:#022e87;
    font-size:12px;
}
#telesur-container .facebookWallPortlet {
    margin:0px;
}
.facebook dl {
    background-color:#eceff4;
    padding-bottom:10px;
}
.facebook .portletHeader, 
.twitterSearchPortlet .portletHeader{
    background:#FFF url(../../img/telestu-logo-small.png) scroll no-repeat 5px 50%;
    padding:15px 40px;
    font-size: 18px;
    font-weight:normal;
    color: #B40200;
}
.facebook .portletItem {
    padding: 5px 17px 0px 17px;
}
.facebook .portletItem .result-item {
    padding-bottom:10px;
}
.facebook .portletItem .result-item .date_and_time {
    font-size:11px;
    color:#8e8888;
}
.facebook .portletFooter {
    background-color:#fff;
    margin: 0px 17px 0px 17px;
}
.facebook .portletFooter a {
    padding:4px 5px 5px 5px;
    margin:0px 5px;
    border-top:1px solid #d7d7d7;
    display:block;
}

.facebook .results-wrapper {
    background-color:#FFF;
    padding:5px 10px 0px 10px;
}
.result-item p {
    padding:3px;
    margin-bottom:3px;
}
.result-item p.link, .result-item .comments {
    background-color:#eeeff4;
}
.result-item .result_content {
    padding-bottom:5px;
}
.result-item .result_content p {
    padding:3px 3px 0px 3px;
    margin:0px;
}
.result_content p {
    color:#000;
}

/*Twiter portlet*/
.twitterSearchPortlet {
    background-color:#F5F5F5;
}
#telesur-container .twitterSearchPortlet {
    margin:0px;
} 
.twitterSearchPortlet .result-item {
    border-bottom:1px solid #EBEBEB;
    background-color: white;
    padding: 10px 5px;
}
.twitterSearchPortlet .tweet-image {
    float: left;
    height: 48px;
    margin-top: 3px;
    overflow: hidden;
    width: 48px;
}
.twitterSearchPortlet .avatar-off .tweet-image{
    display:none;
}
.twitterSearchPortlet .tweet-content {
    margin-left:58px;
}
.twitterSearchPortlet .avatar-off .tweet-content {
    margin-left: 0px;
}
.twitterSearchPortlet .tweet-text p {
    padding-left:0px;
    margin-bottom:0px;
    color:#444;
}

.twitterSearchPortlet .tweet-screen-name {
    color: #333333 !important;
    font-weight: bold;
    font-size:13px;
}
.twitterSearchPortlet .tweet-timestamp {
    color: #999999 !important;
    font-size: 11px;
}    
#telesur-container .twitterSearchPortlet a {
    color:#0084b4;
    border-bottom: 1px solid #FFF;
}
#telesur-container .twitterSearchPortlet a:hover {
    border-bottom: 1px solid #0084b4;
    text-decoration:none;
}
