@charset "UTF-8";

/* CSS Document */
.panes-opinion {
    border: 1px solid #999;
    border-top: 0;
    background-color: #EEE;  
    height: 300px;
    overflow-y: auto;
    width: 100%;  
    top:-5px;
    position:relative;    
}
.panes-opinion div {
	padding:0px;
	margin:0px;
	font-size:14px;
	background-color:#fff;
}
