<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Document Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="window-target" content="_parent" />
<meta name="title" content="" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="summary" content="" />
<meta name="creator" content="" />
<meta name="creator-URL" content="http://" />
<meta name="author" content="" />
<meta name="autor-email" content="" />
<meta name="copyright" content="" />
<meta name="language" content="en_US" />
<meta name="content-language" content="es_MX" />
<meta name="rating" content="General" />
<meta name="distribution" content="Global" />
<meta name="classification" content="Commercial" />
<meta name="pragma" content="no-cache" />
<meta name="expires" content="+7 days" />
<meta name="revisit-after" content="7 days" />
<meta name="robots" content="all" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
<link rel="stylesheet" href="css/src/reset.css" type="text/css" media="screen" />
<link rev="creator" href="http://" title="" />	<!-- Modify URL  -->
<link rel="icon" href="http:inc/ .ico" />	<!-- Include path to .ico file  -->
<link rel="shortcut icon" href="inc/ .ico" />	<!-- Include path to .ico file  -->
<link rel="apple-touch-icon" href="inc/ .png"/>	<!-- Include path to .ico file for Apple devices  -->
<!--
<link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 480px)" href="css/iphone.css" />
-->

<!--[if IE 6]>
<link rel="stylesheet" href="css/src/ie6.css" type="text/css" media="screen" />
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="css/src/ie7.css" type="text/css" media="screen" />
<![endif]-->
<!--[if gte IE 8]>
<link rel="stylesheet" href="css/src/ie.css" type="text/css" media="screen" />
<![endif]-->

<style type="text/css">	 /* Eliminar todo el bloque */
/* CUSTOM LOCAL STYLE */
body, body div {
	color: #333;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}
#container, #full-Column {
	background: #fff;
	border: none;
}
#container {
	margin-top: 50px;
}
</style>
</head>

<body>
   <!-- Begin Container -->
   <div id="siteName-container">
   		 
		 <!-- Begin Middle -->
		 <div id="siteName-middle">

			 <!-- Begin Full Column -->
			 <div id="siteName-full-Column">
			   <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
			   <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
			   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
			   <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
			   <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
			   <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum elit tincidunt augue scelerisque et vestibulum nisl accumsan. Vestibulum fermentum lacinia leo, a rutrum urna lacinia sed. Aliquam fringilla leo in nunc ullamcorper egestas. Maecenas orci augue, volutpat sit amet tempus accumsan, fermentum sed lacus. Curabitur dictum libero augue, ac dictum elit. Nulla facilisi. Quisque lacus sapien, consectetur non condimentum sed, faucibus eget urna. Nam id neque egestas odio bibendum porttitor sed in tortor. Morbi fringilla, sapien sed accumsan ornare, tellus augue viverra sapien, a pharetra libero felis in arcu. Vestibulum molestie magna ac ante semper accumsan.</p>
<p>Curabitur eu arcu et lorem malesuada dignissim. Curabitur diam nibh, fringilla et vulputate quis, porttitor et metus. Suspendisse magna est, sollicitudin vitae faucibus non, vestibulum eget ipsum. Donec magna ante, pulvinar nec tempor ac, ultrices non tellus. Vestibulum semper pretium ligula sit amet molestie. Pellentesque iaculis feugiat sem, sed rhoncus dui volutpat sit amet. Mauris sapien ligula, commodo a malesuada vitae, gravida nec justo. Nulla porta mi eu est convallis eu bibendum libero congue. Nulla lectus neque, bibendum id volutpat nec, hendrerit quis nisl. Curabitur erat ligula, aliquet in pellentesque sit amet, porta et metus. Aliquam erat volutpat. Curabitur eu mauris vulputate sem euismod elementum in id dui. Nulla facilisi. Phasellus pharetra fringilla scelerisque. Duis congue varius risus, vitae dictum libero ullamcorper sit amet. Praesent cursus porttitor sem, non venenatis ipsum hendrerit vitae. Maecenas eget adipiscing ligula.</p>
			   <p>Donec ultricies luctus nisl ac dignissim. Praesent porttitor, mi sit amet lacinia porttitor, turpis dui lacinia arcu, consectetur viverra nibh arcu sit amet leo. Vivamus a ultrices dui. Proin in dolor magna, nec malesuada felis. Proin quis elementum sapien. Nulla facilisi. Duis volutpat metus nec erat placerat consectetur. Curabitur ullamcorper rutrum lorem, in consectetur augue aliquet a. Vivamus at massa orci, vel lacinia urna. Integer non dui risus, et volutpat lacus. Morbi ligula arcu, bibendum non ullamcorper a, bibendum et massa. Curabitur et ipsum orci, vel pulvinar nibh. Donec risus dolor, bibendum sed hendrerit eu, tempor eu felis.</p>
			   <p>Praesent fermentum pellentesque porttitor. Nulla condimentum, ipsum id commodo venenatis, dui enim dignissim tortor, in lobortis risus dui vel nibh. Phasellus sem ante, tempus vel facilisis sit amet, pellentesque vel nisi. Vestibulum mattis placerat mi varius pellentesque. Aliquam erat volutpat. Ut nisi ipsum, mollis in convallis quis, fermentum eu libero. Sed egestas, libero ut mollis dictum, dolor arcu tincidunt quam, a ultrices libero arcu quis lorem. Quisque id euismod ligula. Sed vestibulum eros arcu. Vestibulum sit amet magna magna, ac blandit nunc. Nullam lobortis posuere nisl, sit amet laoreet urna tincidunt eu. Aliquam ac ultrices mauris. Praesent varius ligula quis nibh porttitor quis porta tellus vulputate. Donec ac nisl sem, in aliquam quam. Morbi mi ligula, pellentesque in condimentum eget, hendrerit at magna. Aliquam eget dui leo, id iaculis felis. Curabitur suscipit semper ante sed vulputate. Aenean eget nisi enim, nec dictum nisl.</p>
			   <p>Donec fermentum consectetur volutpat. Quisque magna turpis, tristique non venenatis non, fermentum sit amet felis. Integer a ipsum neque, at laoreet mauris. Ut elit sem, convallis quis pulvinar at, ornare quis sapien. Donec condimentum, dolor consequat varius accumsan, augue lectus placerat urna, sed fermentum justo lorem quis felis. Donec id vestibulum dui. Vivamus tempus dapibus volutpat. In faucibus pulvinar enim a cursus. Suspendisse tristique orci ligula. Nam faucibus, sapien ut viverra sollicitudin, dolor magna tincidunt justo, at sodales felis massa id enim. Nunc ut sapien metus. In pellentesque cursus quam nec imperdiet.</p>
 </div>
			 <!-- End Full Column -->
		 
		 </div>
		 <!-- End Middle -->
		 		 
   </div>
   <!-- End Container -->
</body>
</html>