@charset "UTF-8";
/* -------------------------------------------------------------- 
   style.css [Main Stylesheet]
   Imports every style sheet in site.

	Developerd by Diego Herrera Ojeda
	Website: http://www.diegoherrera.com
	E-Mail: diegoherrerao@gmail.com
	April 2011
-------------------------------------------------------------------*/

/* -------------------------------------------------------------- 
   style.css
   * Import style sheets for layout and content elements
-------------------------------------------------------------- */
@import "src/content.css";
@import "src/forms.css";
@import "src/layout.css";
@import "src/tables.css";
@import "src/iconos.css";
@import "src/menu.css";
@import "src/scrollable.css";
@import "src/tabs-ultimos.css";
@import "src/tabs-categorias-multimedia.css";
@import "src/tabs-social.css";
@import "src/tabs-opinion.css";
@import "src/tabs-redesociales.css";


/***
* NOTA
***/
#media-data {
    overflow:hidden;
}
#media-counter .counter-element {
    float:left;
}
#media-counter .counter {
    width:50px;
    display:block;
    text-align:center;
    font-size:13px;
    padding:28px 0 5px 0;
}
#media-counter .image-counter .counter{
    background: url("../img/iconos/nota-detail/foto.png") no-repeat scroll center 0 transparent;
}
#media-counter .comment-counter .counter{
    background: url("../img/iconos/nota-detail/comentarios.png") no-repeat scroll center 0 transparent;
}
#media-counter .video-counter .counter{
    background: url("../img/iconos/nota-detail/video.png") no-repeat scroll center 0 transparent;
}
