@charset "UTF-8";
/* -------------------------------------------------------------- 
   style.css [Main Stylesheet]
   Imports every style sheet in site.

	Developerd by Diego Herrera Ojeda
	Website: http://www.diegoherrera.com
	E-Mail: diegoherrerao@gmail.com
	April 2011
-------------------------------------------------------------------*/

/* -------------------------------------------------------------- 
   style.css
   * Import style sheets for layout and content elements
-------------------------------------------------------------- */
@import "src/content.css";
@import "src/forms.css";
@import "src/layout.css";
@import "src/tables.css";
@import "src/iconos.css";
@import "src/menu.css";
@import "src/scrollable.css";
@import "src/tabs-ultimos.css";
@import "src/tabs-categorias-multimedia.css";
@import "src/tabs-social.css";
@import "src/tabs-opinion.css";
@import "src/tabs-redesociales.css";


/*GENERAL*/
.separator {
    clear:both; 
    border-bottom: solid 2px #AC1206; 
    margin:15px 0;
}
/*content styles*/
h1, h2, h3 {
    line-height:1.1em;
}


/***
* TICKER STYLE
***/
#telesur-container #ticker-wrapper {
    clear: both;
    float: left;
    margin: 10px 0;
}
#telesur-container #ticker-content {
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    line-height: 32px;
    padding: 0 9px;
}

#telesur-container #ticker {
    width:700px;
}

/***
* NOTA
***/
#media-data {
    overflow:hidden;
}
#media-counter .counter-element {
    float:left;
    height:45px;
    overflow:hidden;
}
#media-counter .counter {
    width:50px;
    display:block;
    text-align:center;
    font-size:13px;
    padding:28px 0 5px 0;
}
#media-counter .image-counter .counter{
    background: url("../img/iconos/nota-detail/foto.png") no-repeat scroll center 0 transparent;
}
#media-counter .comment-counter .counter{
    background: url("../img/iconos/nota-detail/comentarios.png") no-repeat scroll center 0 transparent;
}
#media-counter .video-counter .counter{
    background: url("../img/iconos/nota-detail/video.png") no-repeat scroll center 0 transparent;
}
#media-container {
    padding-bottom:15px;
}
#media-container .article-description {
    clear:both;
    width:310px;
    padding:10px 0;
}
#media-container .article-description p {
    font-size:13px;
}

#autor-temp {
    clear:both;
    display:block;
    font-size:12px;
    color:#999999;
    padding:0px;
}
/*video gallery*/
#video-galery-container {
    display:none;
    background-color:#FFF;
    padding:10px 20px;
    border:1px solid #D9D9D9;
}
#video-galery-container .video-widget {
    border:medium none;
    padding:0px;
    margin:0px;
}
.videos-wrapper {
    /* dimensions */
    width:558px;
    margin:15px 0 15px 0;
    padding:15px 0;

    /* centered */
    text-align:center;

    /* some "skinning" */
    background-color:#efefef;
    border:2px solid #fff;
    -moz-ouline-radius:4px;
}
/*close, right and left*/
#video-galery-container a.close {
    background-image: url(../img/pb_close.png);
    position: absolute;
    left: -14px;
    top: -14px;
    cursor: pointer;
    height: 30px;
    width: 30px
}
#video-galery-container a.browse {
    background: url("../img/scrollable/arrow/hori_large.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1px;
    height: 30px;
    margin: 25px 10px;
    width: 30px;
}
#video-galery-container a.right {
    background-position: 0 -30px;
    clear: right;
    margin-right: 0;
}
#video-galery-container a.right:hover {
    background-position: -30px -30px;
}
#video-galery-container a.right:active {
    background-position: -60px -30px;
}
#video-galery-container a.left {
    margin-left: 0;
}
#video-galery-container a.left:hover {
    background-position: -30px 0;
}
#video-galery-container a.left:active {
    background-position: -60px 0;
}

.scrollable-video-galery {
    float:left;
    border: 1px solid #CCCCCC;
    height: 80px;
    overflow: hidden;
    position: relative;
    width: 474px;    
}
.scrollable-video-galery .thumb-image {
    margin:10px 0 10px 10px;
    border:1px solid #CCCCCC;
    padding:2px;
}
.scrollable-video-galery .active {
    border:1px solid #000000;
}

/*
* PORTLETS GENERAL
*/
.widget-container {
    margin-bottom:15px;    
}
.widget-container .widget-title {
    font-size:18px;
    color:#B40200;
    margin:0 0 5px 0;
    text-transform:none;
    letter-spacing: normal;    
}
.widget-container iframe {
    overflow:hidden;
}

/***
* Portlet "ultimos videos"
***/
#ultimos-videos-widget .ultimos-videos-wrapper {
    border:1px solid #b3b3b3;
    background:url(../img/portlets-bg.png) repeat-x scroll 0 0;
    padding:12px;
}

/***
* Portlet "mas vistos"
***/
#mas-vistos {
    width:310px;
}
.tabs-masvistos {
    list-style: none;
    margin: 0 !important;
    padding: 0;
    border-bottom: 1px solid #666;
    height: 32px;
}
.tabs-masvistos li {
    float: left;
    text-indent: 0;
    padding: 0 0 0 3px;
    margin: 0 !important;
    list-style-image: none !important;
}
.tabs-masvistos a.current, .tabs-masvistos a.current:hover, .tabs-masvistos li.current a {
    cursor: default !important;
    color: black !important;
    background: url(../img/pestana-ultimos-hover.png) no-repeat;
    height: 38px;
    background: url(../img/pestana-ultimos-hover.png) no-repeat;
}
.tabs-masvistos a {
    background: url(../img/pestana-ultimos.png) no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    display: block;
    height: 32px;
    line-height: 32px;
    width: 87px;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding:0;
    margin: 0;
    position: relative;
    top: 0;
}
.panes-masvistos {
    border: 1px solid #999;
    border-top: 0;
    padding:10px 12px;
}

/***
* Portlet "ultimas noticias"
***/
#ultimas-noticias {
    border:1px solid #b3b3b3;
    padding:10px;
    font-size:13px;
    color:#333333;
    background:url(../img/portlets-bg.png) repeat-x scroll 0 0;
}
#ultimas-noticias .portletItemDetails {
    font-size:11px;
    color:#999;
    text-align:right;
}
#ultimas-noticias .tile {
    background:url(../img/iconos/generales/nota.png) no-repeat scroll 0 0;
    padding-left:20px;
    color:#333333;    
}
#ultimas-noticias .tile img {
    display:none;
}
#ultimas-noticias .ultima-noticia {
    padding-top:10px;
}

/**
* Portlet Ultimos Programas
**/
#ultimos-programas-widget .ultimos-programas-wrapper{
    border:1px solid #b3b3b3;
}


/**
* FOOTER 
**/
#footer {
    padding-bottom:15px;
}
.action-buttons {
    border-bottom:2px solid #ab1306;
}
.action-buttons .actions-list {
    display:inline;
    float:left;
    margin-bottom:15px;
}
.action-buttons .actions-list a {
    color:#323232;
    font-size:12px;
    padding:3px 10px 3px 20px;
    margin-right:10px;
    background:white url(../img/icon-bg.png) repeat-x scroll 0 bottom;   
    border:1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#footer .colophone {
    padding-top:15px;
}
#footer .colophone .cell-wrapper {
    height:10em;
    border-right:1px solid #aa1406;
    padding-right:15px;
}
#footer .colophone .publicidad .cell-wrapper{
    border-right:1px solid #FFF;
}

#footer .colophone .cell-wrapper h3 {
    color:#333;
    font-size:16px;
    padding-bottom:10px;
}
#footer .colophone .cell-wrapper li {
    display:block;
}
#footer .colophone .cell-wrapper ul a {
    font-size:13px;
    color:#666;
}

#footer .colophone .telesur-cc p {
    color:#333;
}
#footer .colophone .telesur-cc span {
}

